{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="justify-content-center">
    <div class="container">

        <!-- About Us -->
        <div class="justify-content-center" data-aos="fade-up" id="About-us">
            {% for para in aboutUs %}
            <div class="justify-content-center mb-5" data-aos="fade-up">
                <div class="col-md text-center">
                    <h2 class="site-primary-title display-4">Welcome</h2>
                    <p class="lead">{{ para.title }}</p>
                </div>
                <p class="content mb-4">{{ para.content }}</p>
            </div>
            {% endfor %}
        </div>
        <!-- END About Us -->


        <!-- Why Choose Us -->
        <div class="site-section row justify-content-center" data-aos="fade-up">
            <div class="col-md-6 text-center">
                <h2 class="mb-3 site-primary-title display-4">Why Choose Us</h2>
                <p class="lead">Finding one you can count on and build a relationship with for the long term is a
                    difficult task
                </p>
            </div>
        </div>
        <div class="row large-gutters" id="why-choose-us">
            <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
                <img src="{% static 'images/menu_1.jpg' %}" alt="Image placeholder" class="img-fluid rounded">
            </div>
            <div class="col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
                {% for points in whychooseus %}
                <div class="accordion" id="accordion">
                    <div class="accordion-item">
                        <h3 class="mb-0">
                            <a class="btn-block p-3 collapsed" data-toggle="collapse" href="#{{ points.id }}"
                                role="button" aria-expanded="false" aria-controls="collapsechef">{{ points.title }}<span
                                    class="icon"></span></a>
                        </h3>
                        <div id="{{ points.id }}" class="collapse" aria-labelledby="headingchef"
                            data-parent="#accordion">
                            <div class="p-3">
                                <p>{{ points.content }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <!-- END Why Choose Us -->


        <!-- Our Chefs -->
        <div class="site-section row justify-content-center" data-aos="fade-up">
            <div class="col-md-8  text-center">
                <h2 class="mb-3 site-primary-title display-4">Our Chefs</h2>
                <p class="lead">A chef is a mixture maybe of artistry and craft. You have to learn the craft really to
                    get there.
                </p>
            </div>
        </div>
        <div class="row chef" style="margin-bottom: 100px;">
            {% for chef in chefs %}
            <div class="col-md-3" data-aos="fade-up" data-aos-delay="100">
                <img src="{{chef.image.url}}" alt="Image placeholder" class="img-fluid mb-4 rounded" id="chef-image">
                <h3 class="mb-3">{{chef.name}}</h3>
                <p class="post-meta text-muted">{{chef.title}}</p>
                <p class="mb-5">{{chef.bio}}</p>
            </div>
            {% endfor %}
        </div>
        <!-- END Why Choose Us -->
    </div>
</div>

{% endblock content %}